body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#faf1ca ;
    color: #4a4a4a; 
    margin: 0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background:#7b3f00;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
}

/* Navigation Bar */
.navbar{
    width:90%;
    margin:auto;
    padding:18px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* Logo */
.navbar h1{
    color:white;
    font-size:30px;
    letter-spacing:1px;
}

/* Navigation Links */
nav{
    display:flex;
    align-items:center;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:17px;
    font-weight:500;
    padding:8px 14px;
    border-radius:8px;
    transition:0.3s;
}

/* Hover Effect */
nav a:hover{
    background:#ffd166;
    color:#7b3f00;
}

/* Active Page */
nav a.active{
    background:white;
    color:#7b3f00;
}


h1{
    color:#d86b85 ;
    font-size: 2.2rem;
    margin-bottom: 6px;
    text-align: center;
}
p{
    color:#7a7a7a;
    margin-top: 10px;
    margin-bottom:24px ;
    text-align: center;
}
input[type="text"]{
    width: 100;
    max: width 400px;
    padding:10px 16px;
    border:1px solid #fce4ec;
    border-radius:20px;
    background-color:#ffffff;
    outline:none;
    margin-bottom:16px;
    font-size:0.95rem;
    box-shadow: 0 2px 4px rgb(0,0,0,0.03);
}
input[type="text"]:focus{
    border-color:#d86b85;
}