body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#fffdf5;
    padding: 20px;
}
.bakery-title{
    text-align: center;
    color: #d86b85;
}
.gallery-cards{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
    gap: 15px;
}
.gallery-cards{
    background:#fff8e7;
    border-radius:8px;
    border: ;
}