.head {
    font-family: cursive;
    text-align: center;
    color: rgb(131, 102, 61);

}

#hello {
    padding: 15px 30px;
    border-radius: 20px;
    font-family: monospace;
    text-align: right;
    color: rgb(199, 162, 212);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: -2;
        transform: translateY(-20px);
    }
    to {
        opacity: 3;
        transform: translateY(10);
    }
}